{% extends "main/header.html" %}



{% block content %}
<style>
  #particles-js{
    height:100%;
    background: crimson;
  }

</style>

  <div class="row">

    {% if user.is_authenticated %}
    <div id = "particles-js"></div>
    <script type="text/javascript" src = "particles.js" ></script>
    <script type="text/javascript" src = "app.js" ></script>


    {% else %}
       <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Welcome<span>
              <p style="font-size:70%">Welcome to Keystage! Click the link below to register</p>
          </div>
          <div class="card-action">
            <a href="register/">Register</a>
          </div>
        </div>
      </div>





    {%endif%}

  </div>


{% endblock %}