{% extends "main/header.html" %}



{% block content %}




<div class="row">
<div class="col-12">
<div class="card bg-light mb-3" >
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">I am a company</h5>
    <p class="card-text">Click here if you wish to register your company on Keystager!</p>
    <br>
    <a href="/regcom/"> <button class="btn btn-primary">Register</button> </a>
  </div>
</div>
</div>
</div>


<div class="row">
<div class="col-12">
<div class="card bg-light mb-3" >
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">I am a student</h5>
    <p class="card-text">Click here if you wish to register your company on Keystager!</p>
    <br>
    <a href="/regstud/"> <button class="btn btn-primary">Register</button> </a>
  </div>
</div>
</div>
</div>

{% endblock %}